/* this is how you format comments in .css */

body {
    background-color: rgb(131, 181, 198);
    img{
        width: 100vw
    }

    p{
        font-size: 30px;
        /* color: aliceblue; */
        border: 2px dotted lightblue
        /* in Safari "dotted" is squares for some reason */
    }


}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;

}
